html, body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
}

// BURGER BUTTON

.burger--menu {
  cursor: pointer;
  background-color: blue;
  height: 100vh;
  padding: 0 10px;
}

// SIDEBAR

.sidebar {
  background-color: blue;
  height: 100vh;
  padding: 0 15px;
  // padding: 15px;
}

.inputs {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 25px;
}

.columns {
  margin-top: 15px;
}

.row--input,
.column--input {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

// GRID

.grid--container {
  display: grid;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.grid--area {
  background-color: green;
  width: 100%;
  height: 100%;  
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding-bottom: 30px;
  
}

.grid--element {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1px;
}

.test {
  margin: 5px 0;
  flex-grow: 1;
}

.viewport--element {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  background-color: red;
}

@media (max-width: 768px) {
  .grid--container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 600px) {
  .grid--container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
